# Python для анализа данных

*Алла Тамбовцева, Светлана Жучкова, НИУ ВШЭ*

## Домашнее задание №6

Для получения максимальной оценки 10 необходимо выполнить все задания. Каждое задание весит один "сырой" балл.

### Часть 1: файл csv

**1.** Загрузите csv-файл с таблицей по [ссылке](https://raw.githubusercontent.com/allatambov/PyDat-0919/master/lectures-seminars/fishing.csv). Описание данных см. [здесь](https://vincentarelbundock.github.io/Rdatasets/doc/Ecdat/Fishing.html).

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/allatambov/PyDat-0919/master/lectures-seminars/fishing.csv'
df = pd.read_csv(url)
df.head

<bound method NDFrame.head of       Unnamed: 0     mode    price   catch   pbeach    ppier    pboat  \
0              1  charter  182.930  0.5391  157.930  157.930  157.930
1              2  charter   34.534  0.4671   15.114   15.114   10.534
2              3     boat   24.334  0.2413  161.874  161.874   24.334
3              4     pier   15.134  0.0789   15.134   15.134   55.930
4              5     boat   41.514  0.1082  106.930  106.930   41.514
...          ...      ...      ...     ...      ...      ...      ...
1177        1178     pier  150.236  0.4522  150.236  150.236  250.746
1178        1179    beach  235.436  0.5333  235.436  235.436  392.946
1179        1180     pier   65.036  0.4522   65.036   65.036  108.546
1180        1181    beach   36.636  0.5333   36.636   36.636   61.146
1181        1182     boat  235.436  0.6817  339.890  339.890  235.436

      pcharter  cbeach   cpier   cboat  ccharter      income
0      182.930  0.0678  0.0503  0.2601    0.5391  7083.33170
1       34.534  0.1049  0.0451  0.1574    0.4671  1249.99980
2       59.334  0.5333  0.4522  0.2413    1.0266  3749.99990
3       84.930  0.0678  0.0789  0.1643    0.5391  2083.33320
4       71.014  0.0678  0.0503  0.1082    0.3240  4583.33200
...        ...     ...     ...     ...       ...         ...
1177   285.746  0.5333  0.4522  0.2413    1.0266  3749.99990
1178   427.946  0.5333  0.4522  0.2413    1.0266  6250.00130
1179   143.546  0.5333  0.4522  0.2413    1.0266  1249.99980
1180    96.146  0.5333  0.4522  0.1665    0.3975   416.66668
1181   260.436  0.2537  0.1498  0.6817    2.3014  6250.00130

[1182 rows x 13 columns]>

**2.** Выведите описательные статистики для всех числовых (integer, float) переменных в датафрейме.

In [97]:
df.describe()

,Unnamed: 0,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,591.500000,52.081975,0.389368,103.422005,103.422005,55.256570,84.379244,0.241011,0.162224,0.171215,0.629368,4099.337054
std,341.358316,53.829970,0.560596,103.641042,103.641042,62.713444,63.544650,0.190752,0.160390,0.209789,0.706114,2461.964060
min,1.000000,1.290000,0.000200,1.290000,1.290000,2.290000,27.290000,0.067800,0.001400,0.000200,0.002100,416.666680
25%,296.250000,15.870000,0.036100,26.656500,26.656500,13.122000,42.896000,0.067800,0.050300,0.023300,0.021900,2083.333200
50%,591.500000,37.896000,0.164300,74.628000,74.628000,33.534000,61.607000,0.253700,0.078900,0.089700,0.421600,3749.999900
75%,886.750000,67.513000,0.533300,144.144000,144.144000,72.402000,102.774000,0.533300,0.149800,0.241300,1.026600,5416.666700
max,1182.000000,666.110000,2.310100,843.186000,843.186000,666.110000,691.110000,0.533300,0.452200,0.736900,2.310100,12499.998000

**3**. Выведите на экран уникальные категории, представленные в столбце `mode`.

In [100]:
df['mode'].value_counts()

charter    452
boat       418
pier       178
beach      134
Name: mode, dtype: int64

**4.** Выберите из таблицы только строки, которые соответствуют респондентам, которые выбрали рыбалку на берегу (`beach`).

In [101]:
df.loc[df['mode'] == 'beach']

,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
6,7,beach,51.934,0.0678,51.934,51.934,191.930,220.930,0.0678,0.0789,0.1643,0.5391,8750.00100
14,15,beach,74.514,0.2537,74.514,74.514,74.514,93.014,0.2537,0.1498,0.2339,0.6288,8750.00100
16,17,beach,48.114,0.1049,48.114,48.114,33.534,57.534,0.1049,0.0451,0.1574,0.4671,5416.66670
25,26,beach,67.784,0.5333,67.784,67.784,17.862,52.862,0.5333,0.4522,0.2413,1.0266,1249.99980
33,34,beach,9.522,0.0678,9.522,9.522,78.292,107.292,0.0678,0.0789,0.0014,0.0029,3749.99990
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,1168,beach,23.688,0.5333,23.688,23.688,139.496,174.496,0.5333,0.4522,0.0156,0.0058,2083.33320
1173,1174,beach,62.634,0.0678,62.634,62.634,123.552,152.552,0.0678,0.0789,0.0014,0.0029,2916.66660
1176,1177,beach,121.836,0.5333,121.836,121.836,203.346,238.346,0.5333,0.4522,0.2413,1.0266,2916.66660
1178,1179,beach,235.436,0.5333,235.436,235.436,392.946,427.946,0.5333,0.4522,0.2413,1.0266,6250.00130
1180,1181,beach,36.636,0.5333,36.636,36.636,61.146,96.146,0.5333,0.4522,0.1665,0.3975,416.66668

**5.** Выберите из таблицы строки, которые соответствуют респондентам, которые предпочитают рыбачить на лодке (`boat`) с доходом (`income`) ниже 3500. Сохраните результат в переменную `boat_data`.

In [102]:
boat_data = df[(df['mode'] == 'boat') & (df['income'] < 3500)]
boat_data

,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
9,10,boat,28.314,0.0233,28.314,28.314,28.314,46.814,0.2537,0.1498,0.0233,0.0219,2916.66660
22,23,boat,15.134,0.1665,100.674,100.674,15.134,50.134,0.5333,0.4522,0.1665,0.3975,2083.33320
32,33,boat,7.722,0.0023,33.462,33.462,7.722,31.722,0.1049,0.0451,0.0023,0.0046,2916.66660
37,38,boat,80.608,0.0531,25.648,25.648,80.608,105.608,0.2537,0.1498,0.0531,0.0052,1249.99980
40,41,boat,46.332,0.1643,10.296,10.296,46.332,75.332,0.0678,0.0789,0.1643,0.5391,2916.66660
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,1122,boat,48.906,0.0732,204.204,204.204,48.906,78.406,0.0678,0.0052,0.0732,0.1726,2916.66660
1129,1130,boat,3.290,0.0531,37.506,37.506,3.290,28.290,0.2537,0.1498,0.0531,0.0052,2083.33320
1135,1136,boat,37.506,0.0102,101.990,101.990,37.506,72.506,0.0678,0.0789,0.0102,0.0209,2083.33320
1141,1142,boat,132.990,0.0156,4.290,4.290,132.990,167.990,0.5333,0.4522,0.0156,0.0058,2916.66660
1154,1155,boat,39.990,0.1574,30.186,30.186,39.990,63.990,0.1049,0.0451,0.1574,0.4671,416.66668

**6.** Переименуйте столбец `catch` в `c_rate`.

In [103]:
df.rename(columns={'catch': 'c_rate'}, inplace=True)
df

,Unnamed: 0,mode,price,c_rate,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
0,1,charter,182.930,0.5391,157.930,157.930,157.930,182.930,0.0678,0.0503,0.2601,0.5391,7083.33170
1,2,charter,34.534,0.4671,15.114,15.114,10.534,34.534,0.1049,0.0451,0.1574,0.4671,1249.99980
2,3,boat,24.334,0.2413,161.874,161.874,24.334,59.334,0.5333,0.4522,0.2413,1.0266,3749.99990
3,4,pier,15.134,0.0789,15.134,15.134,55.930,84.930,0.0678,0.0789,0.1643,0.5391,2083.33320
4,5,boat,41.514,0.1082,106.930,106.930,41.514,71.014,0.0678,0.0503,0.1082,0.3240,4583.33200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,1178,pier,150.236,0.4522,150.236,150.236,250.746,285.746,0.5333,0.4522,0.2413,1.0266,3749.99990
1178,1179,beach,235.436,0.5333,235.436,235.436,392.946,427.946,0.5333,0.4522,0.2413,1.0266,6250.00130
1179,1180,pier,65.036,0.4522,65.036,65.036,108.546,143.546,0.5333,0.4522,0.2413,1.0266,1249.99980
1180,1181,beach,36.636,0.5333,36.636,36.636,61.146,96.146,0.5333,0.4522,0.1665,0.3975,416.66668
1181,1182,boat,235.436,0.6817,339.890,339.890,235.436,260.436,0.2537,0.1498,0.6817,2.3014,6250.00130

**7.** Добавьте в таблицу столбец `log_income`, содержащий натуральный логарифм доходов респондентов.

In [104]:
from numpy import log 
df['log_income'] = log(df['income'])
df

,Unnamed: 0,mode,price,c_rate,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income,log_income
0,1,charter,182.930,0.5391,157.930,157.930,157.930,182.930,0.0678,0.0503,0.2601,0.5391,7083.33170,8.865500
1,2,charter,34.534,0.4671,15.114,15.114,10.534,34.534,0.1049,0.0451,0.1574,0.4671,1249.99980,7.130899
2,3,boat,24.334,0.2413,161.874,161.874,24.334,59.334,0.5333,0.4522,0.2413,1.0266,3749.99990,8.229511
3,4,pier,15.134,0.0789,15.134,15.134,55.930,84.930,0.0678,0.0789,0.1643,0.5391,2083.33320,7.641724
4,5,boat,41.514,0.1082,106.930,106.930,41.514,71.014,0.0678,0.0503,0.1082,0.3240,4583.33200,8.430182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,1178,pier,150.236,0.4522,150.236,150.236,250.746,285.746,0.5333,0.4522,0.2413,1.0266,3749.99990,8.229511
1178,1179,beach,235.436,0.5333,235.436,235.436,392.946,427.946,0.5333,0.4522,0.2413,1.0266,6250.00130,8.740337
1179,1180,pier,65.036,0.4522,65.036,65.036,108.546,143.546,0.5333,0.4522,0.2413,1.0266,1249.99980,7.130899
1180,1181,beach,36.636,0.5333,36.636,36.636,61.146,96.146,0.5333,0.4522,0.1665,0.3975,416.66668,6.032287
1181,1182,boat,235.436,0.6817,339.890,339.890,235.436,260.436,0.2537,0.1498,0.6817,2.3014,6250.00130,8.740337

**8.** Выведите на экран первые 8 строк таблицы.

In [105]:
df.iloc[0:8, :]

,Unnamed: 0,mode,price,c_rate,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income,log_income
0,1,charter,182.930,0.5391,157.930,157.930,157.930,182.930,0.0678,0.0503,0.2601,0.5391,7083.3317,8.865500
1,2,charter,34.534,0.4671,15.114,15.114,10.534,34.534,0.1049,0.0451,0.1574,0.4671,1249.9998,7.130899
2,3,boat,24.334,0.2413,161.874,161.874,24.334,59.334,0.5333,0.4522,0.2413,1.0266,3749.9999,8.229511
3,4,pier,15.134,0.0789,15.134,15.134,55.930,84.930,0.0678,0.0789,0.1643,0.5391,2083.3332,7.641724
4,5,boat,41.514,0.1082,106.930,106.930,41.514,71.014,0.0678,0.0503,0.1082,0.3240,4583.3320,8.430182
5,6,charter,63.934,0.3975,192.474,192.474,28.934,63.934,0.5333,0.4522,0.1665,0.3975,4583.3320,8.430182
6,7,beach,51.934,0.0678,51.934,51.934,191.930,220.930,0.0678,0.0789,0.1643,0.5391,8750.0010,9.076809
7,8,charter,56.714,0.0209,15.134,15.134,21.714,56.714,0.0678,0.0789,0.0102,0.0209,2083.3332,7.641724

**9.** А теперь последние 8.

In [88]:
df.iloc[-8:1182, :]

,Unnamed: 0,mode,price,c_rate,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income,log_income
1174,1175,boat,86.802,0.0102,91.834,91.834,86.802,121.802,0.0678,0.0789,0.0102,0.0209,4583.33200,8.430182
1175,1176,charter,149.402,0.0209,121.034,121.034,114.402,149.402,0.0678,0.0789,0.0102,0.0209,6250.00130,8.740337
1176,1177,beach,121.836,0.5333,121.836,121.836,203.346,238.346,0.5333,0.4522,0.2413,1.0266,2916.66660,7.978197
1177,1178,pier,150.236,0.4522,150.236,150.236,250.746,285.746,0.5333,0.4522,0.2413,1.0266,3749.99990,8.229511
1178,1179,beach,235.436,0.5333,235.436,235.436,392.946,427.946,0.5333,0.4522,0.2413,1.0266,6250.00130,8.740337
1179,1180,pier,65.036,0.4522,65.036,65.036,108.546,143.546,0.5333,0.4522,0.2413,1.0266,1249.99980,7.130899
1180,1181,beach,36.636,0.5333,36.636,36.636,61.146,96.146,0.5333,0.4522,0.1665,0.3975,416.66668,6.032287
1181,1182,boat,235.436,0.6817,339.890,339.890,235.436,260.436,0.2537,0.1498,0.6817,2.3014,6250.00130,8.740337

**10.** Сохраните изменённый датафрейм в csv-файл.

In [106]:
hw_rybalka = pd.DataFrame(df)
hw_rybalka.to_excel('hw_rybalka.xlsx')

### Часть 2: файл Excel

**Файл для работы**

`polit.xlsx` ([ссылка](https://github.com/allatambov/PyDat-0919/blob/master/lectures-seminars/polit.xlsx) на файл)

**Описание файла**

сокращенная версия файла `PetersMcGuireData.xlsx`, взятого [отсюда](http://jmcguire.faculty.wesleyan.edu/welcome/data/#20LActries) (страница James W.McGuire, Data used in “Authoritarianism in the Middle East”).

**Переменные:**

* `ctry` – country;
* `fh09` – Freedom House index (ranging from 1 (most) to 7 (fewest) political rights and civil liberties), 2009;
* `polity09` – Polity2 score (ranging from -10 to +10, latter most democratic), 2009;
* `gini` – Gini index of income inequality, 2000-2010;
* `fparl08` – female share of seats in parliament (%), 2008;
* `mena` – Middle East and North Africa (1 - yes, 0 - no);
* `lati` – Latin America (1 - yes, 0 - no);
* `cari` – Caribbean, former British, French, Dutch colony;
* `east` – East Asia;
* `sovi` – Former Soviet Bloc;
* `afri` – Africa;
* `corr0509` – Control of Corruption, average 2005-2009 (expert rating).

**1.** Загрузите таблицу из файла `polit.xlsx` и сохраните ее в переменную `df`.

In [2]:
import pandas as pd
url = 'https://github.com/allatambov/PyDat-0919/blob/master/lectures-seminars/polit.xlsx?raw=true'
df = pd.read_excel(url)
df

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
0,Afghanistan,6.0,0.0,NaN,25.87,0,0,0,0,0,0,-1.550910
1,Albania,3.0,9.0,33.0,7.14,0,0,0,0,1,0,-0.580513
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654
3,American Samoa,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0.442991
4,Andorra,1.0,NaN,NaN,25.00,0,0,0,0,0,0,1.307767
...,...,...,...,...,...,...,...,...,...,...,...,...
208,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,0,0,0,0,0,0,0.827850
209,West Bank and Gaza,NaN,NaN,NaN,NaN,0,0,0,0,0,0,-0.908451
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840
211,Zambia,3.5,7.0,50.7,15.19,0,0,0,0,0,1,-0.601142
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121

**2.** Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. Есть ли в таблице пропущенные значения?

In [5]:
df.info()
df.isna().sum() #выведено количество пропущенных значений по столбцам (то есть в таблице есть пропущенные значения)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ctry      213 non-null    object
 1   fh09      191 non-null    float64
 2   polity09  159 non-null    float64
 3   gini      146 non-null    float64
 4   fparl08   186 non-null    float64
 5   mena      213 non-null    int64
 6   lati      213 non-null    int64
 7   cari      213 non-null    int64
 8   east      213 non-null    int64
 9   sovi      213 non-null    int64
 10  afri      213 non-null    int64
 11  corr0509  203 non-null    float64
dtypes: float64(5), int64(6), object(1)
memory usage: 20.1+ KB

ctry         0
fh09        22
polity09    54
gini        67
fparl08     27
mena         0
lati         0
cari         0
east         0
sovi         0
afri         0
corr0509    10
dtype: int64

**3.** Если в таблице есть строки с пропущенными значениями, удалите их. Сохраните изменения в `df`.

In [122]:
df = df.dropna()
df

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
1,Albania,3.0,9.0,33.0,7.14,0,0,0,0,1,0,-0.580513
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684
7,Argentina,2.0,8.0,48.8,39.76,0,1,0,0,0,0,-0.420793
8,Armenia,5.0,5.0,30.2,8.40,0,0,0,0,0,0,-0.578211
...,...,...,...,...,...,...,...,...,...,...,...,...
206,"Venezuela, RB",4.5,-3.0,43.4,18.56,0,1,0,0,0,0,-1.061680
207,Vietnam,6.0,-7.0,37.8,25.76,0,0,0,1,0,0,-0.656128
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840
211,Zambia,3.5,7.0,50.7,15.19,0,0,0,0,0,1,-0.601142
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121

**4.** Выведите на экран описательные статистики по всем количественным переменным в таблице. Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа `min`, `std`, `50%` и так далее).

In [123]:
df.describe()

,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
count,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000,135.000000
mean,3.325926,4.651852,40.569630,18.348074,0.081481,0.140741,0.022222,0.081481,0.081481,0.281481,-0.104802
std,1.796886,5.636129,9.432987,10.410612,0.274592,0.349049,0.147955,0.274592,0.274592,0.451397,0.993943
min,1.000000,-10.000000,16.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.462697
25%,1.500000,0.000000,34.000000,10.340000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.789189
50%,3.500000,7.000000,39.200000,16.110000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.406013
75%,5.000000,9.000000,47.100000,25.335000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.342066
max,7.000000,10.000000,74.300000,50.940000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.378324

* count - количество наблюдений (т.к. удалили пустые значения, поэтому одинаковые у всех переменных);
* mean - среднее значение переменной по имеющимся наблюдениям (x_{1}+...+x_{n}/n);
* std - стандартное отклонение значений, иными словами это корень разброса индивидуальных значений от ожидаемого, скорректированный на размер выборки 
* min - минимальное значение переменной
* 25% - если расположить значения выборки от минимума до максимума, то это значение, которое разделяет 25% наблюдений выборки (ближе к минимуму) и другие 75% наблюдений выборки
* 50% - медиана, показывает значение, которое отделяет первую половину выборки от второй
* 75% - аналогично 25%, только отделяет 75% наблюдений выборки (при счёте от минимума) от других 25% наблюдений выборки
* max - максимальное значение переменной

**5.** Выберите в таблице строки, которые соответствуют странам со значениями Freedom House (`fh09`) выше 5. Сохраните их в переменную `not_free`.

In [124]:
not_free = df[df['fh09'] > 5]
not_free

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684
12,Azerbaijan,5.5,-7.0,16.8,11.38,0,0,0,0,0,0,-1.026767
17,Belarus,6.5,-7.0,28.8,32.53,0,0,0,0,0,0,-0.765586
31,Cambodia,5.5,2.0,44.2,15.76,0,0,0,1,0,0,-1.151233
32,Cameroon,6.0,-4.0,44.6,13.89,0,0,0,0,0,1,-1.000362
37,Chad,6.5,-2.0,39.8,5.16,0,0,0,0,0,1,-1.346880
40,China,6.5,-7.0,41.5,21.33,0,0,0,1,0,0,-0.568752
43,"Congo, Dem. Rep.",6.0,5.0,44.4,7.73,0,0,0,0,0,1,-1.428074
44,"Congo, Rep.",5.5,-4.0,47.3,9.18,0,0,0,0,0,1,-1.113118
46,Cote d'Ivoire,5.5,0.0,48.4,8.87,0,0,0,0,0,1,-1.198933
56,"Egypt, Arab Rep.",5.5,-3.0,32.1,3.68,1,0,0,0,0,0,-0.579147
67,Gabon,5.5,3.0,41.5,16.11,0,0,0,0,0,1,-0.856973
88,"Iran, Islamic Rep.",6.0,-7.0,38.3,2.80,1,0,0,0,0,0,-0.600917
89,Iraq,5.5,0.0,38.3,25.45,1,0,0,0,0,0,-1.462697
96,Jordan,5.5,-3.0,37.7,8.48,1,0,0,0,0,0,0.349112
97,Kazakhstan,5.5,-6.0,30.9,12.34,0,0,0,0,0,0,-0.937653
104,Kyrgyz Republic,5.5,1.0,33.5,25.56,0,0,0,0,0,0,-1.174855
105,Lao PDR,6.5,-7.0,32.6,25.22,0,0,0,1,0,0,-1.206055
123,Mauritania,5.5,-2.0,39.0,19.87,0,0,0,0,0,1,-0.537831
157,Qatar,5.5,-10.0,41.1,0.00,1,0,0,0,0,0,1.148954
159,Russian Federation,5.5,4.0,43.7,11.47,0,0,0,0,0,0,-0.917829
160,Rwanda,5.5,-3.0,46.7,50.94,0,0,0,0,0,1,-0.164223
182,Swaziland,6.0,-9.0,50.7,22.11,0,0,0,0,0,1,-0.310528
186,Tajikistan,5.5,-3.0,33.6,19.59,0,0,0,0,0,0,-1.006135
193,Tunisia,6.0,-4.0,40.8,19.93,1,0,0,0,0,0,0.005451
204,Uzbekistan,7.0,-9.0,36.7,16.36,0,0,0,0,0,0,-1.071779
207,Vietnam,6.0,-7.0,37.8,25.76,0,0,0,1,0,0,-0.656128
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121

**6.** Выберите в таблице строки, которые соответствуют странам Африки (`afri`) с процентом женщин в парламенте выше 30%.

In [125]:
df[(df['afri'] == 1) & (df['fparl08'] > 30)]

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
30,Burundi,4.5,6.0,33.3,31.74,0,0,0,0,0,1,-1.095802
133,Mozambique,3.5,5.0,47.1,34.80,0,0,0,0,0,1,-0.524405
160,Rwanda,5.5,-3.0,46.7,50.94,0,0,0,0,0,1,-0.164223
174,South Africa,2.0,9.0,57.8,33.92,0,0,0,0,0,1,0.332960
187,Tanzania,3.5,-1.0,34.6,30.41,0,0,0,0,0,1,-0.439213
198,Uganda,4.5,-1.0,42.6,30.72,0,0,0,0,0,1,-0.819751

**7.** Выберите в таблице строки, которые соответствуют странам Африки или Латинской Америки (`afri` и `lati`) со значением `polity09` больше или равным 8.

In [126]:
df[((df['lati'] == 1) | (df['afri'] == 1)) & (df['polity09'] >= 8)]

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
7,Argentina,2.0,8.0,48.8,39.76,0,1,0,0,0,0,-0.420793
25,Botswana,2.5,8.0,61.0,11.11,0,0,0,0,0,1,0.947725
26,Brazil,2.0,8.0,55.0,9.43,0,1,0,0,0,0,-0.119536
39,Chile,1.0,10.0,52.0,12.66,0,1,0,0,0,0,1.370524
42,Comoros,3.5,9.0,64.3,3.03,0,0,0,0,0,1,-0.709136
45,Costa Rica,1.0,10.0,48.9,36.84,0,1,0,0,0,0,0.483973
54,Dominican Republic,2.0,8.0,48.4,17.14,0,1,0,0,0,0,-0.618924
57,El Salvador,2.5,8.0,46.9,16.67,0,1,0,0,0,0,-0.288100
71,Ghana,1.5,8.0,42.8,7.89,0,0,0,0,0,1,-0.031224
77,Guatemala,4.0,8.0,53.7,12.03,0,1,0,0,0,0,-0.681574
108,Lesotho,3.0,8.0,52.5,25.83,0,0,0,0,0,1,-0.028651
126,Mexico,2.5,8.0,51.6,22.13,0,1,0,0,0,0,-0.245729
141,Nicaragua,4.0,9.0,52.3,18.48,0,1,0,0,0,0,-0.747011
149,Panama,1.5,9.0,54.9,16.67,0,1,0,0,0,0,-0.311231
151,Paraguay,3.0,8.0,53.2,13.60,0,1,0,0,0,0,-1.190401
152,Peru,2.5,9.0,50.5,29.17,0,1,0,0,0,0,-0.310562
174,South Africa,2.0,9.0,57.8,33.92,0,0,0,0,0,1,0.332960
203,Uruguay,1.0,10.0,47.1,12.31,0,1,0,0,0,0,1.112514

**8.** Отсортируйте строки в таблице в соответствии со значениями столбца со средними значениями индекса Control of Corruption (`corr0509`) по убыванию и выведите: первые 10 строк; последние 10 строк. Используйте метод `.sort_values()`.

*Пример:*

    df.sort_values('column_name', ascending = False) # ascend - возрастать

In [127]:
pd.concat([df.sort_values('corr0509', ascending = False)[:10], df.sort_values('corr0509', ascending = False)[-10:]])

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509
51,Denmark,1.0,10.0,24.7,37.99,0,0,0,0,0,0,2.378324
64,Finland,1.0,10.0,26.9,41.50,0,0,0,0,0,0,2.335072
140,New Zealand,1.0,10.0,36.2,33.61,0,0,0,0,0,0,2.278719
169,Singapore,4.5,-2.0,42.5,24.47,0,0,0,1,0,0,2.198528
183,Sweden,1.0,10.0,25.0,46.99,0,0,0,0,0,0,2.147108
137,Netherlands,1.0,10.0,30.9,39.11,0,0,0,0,0,0,2.061414
184,Switzerland,1.0,10.0,33.7,27.24,0,0,0,0,0,0,2.058661
10,Australia,1.0,10.0,35.2,29.65,0,0,0,0,0,0,1.979293
145,Norway,1.0,10.0,25.8,36.09,0,0,0,0,0,0,1.946725
33,Canada,1.0,10.0,32.6,24.94,0,0,0,0,0,0,1.942539
46,Cote d'Ivoire,5.5,0.0,48.4,8.87,0,0,0,0,0,1,-1.198933
105,Lao PDR,6.5,-7.0,32.6,25.22,0,0,0,1,0,0,-1.206055
15,Bangladesh,3.5,5.0,31.0,6.33,0,0,0,0,0,0,-1.218595
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684
150,Papua New Guinea,3.5,4.0,50.9,0.92,0,0,0,0,0,0,-1.324521
81,Haiti,4.5,5.0,59.5,5.17,0,1,0,0,0,0,-1.336122
37,Chad,6.5,-2.0,39.8,5.16,0,0,0,0,0,1,-1.346880
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121
43,"Congo, Dem. Rep.",6.0,5.0,44.4,7.73,0,0,0,0,0,1,-1.428074
89,Iraq,5.5,0.0,38.3,25.45,1,0,0,0,0,0,-1.462697

**9.** Добавьте в `df` столбец corr_round, в котором будут храниться округленные до 2 знака после запятой значения индекса Control of Corruption (`corr0509`).

In [134]:
#1 вариант решения
def rounding(cor):
    return round(cor, 2)

df['corr_round'] = df['corr0509'].apply(rounding)
df

<ipython-input-134-086c68425b46>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_round'] = df['corr0509'].apply(rounding)

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509,corr_round,fh_status
1,Albania,3.0,9.0,33.0,7.14,0,0,0,0,1,0,-0.580513,-0.58,partly free
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654,-0.43,not free
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684,-1.29,not free
7,Argentina,2.0,8.0,48.8,39.76,0,1,0,0,0,0,-0.420793,-0.42,free
8,Armenia,5.0,5.0,30.2,8.40,0,0,0,0,0,0,-0.578211,-0.58,partly free
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,"Venezuela, RB",4.5,-3.0,43.4,18.56,0,1,0,0,0,0,-1.061680,-1.06,partly free
207,Vietnam,6.0,-7.0,37.8,25.76,0,0,0,1,0,0,-0.656128,-0.66,not free
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840,-0.81,not free
211,Zambia,3.5,7.0,50.7,15.19,0,0,0,0,0,1,-0.601142,-0.60,partly free
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121,-1.38,not free

In [128]:
#2 вариант решения (думал, что смогу избежать SettingWithCopyWarning, но потом понял, что имманентно DataFrame)
df['corr_round'] = df['corr0509'].round(decimals = 2)
df

<ipython-input-128-fea00c9b9f52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['corr_round'] = df['corr0509'].round(decimals = 2)

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509,corr_round
1,Albania,3.0,9.0,33.0,7.14,0,0,0,0,1,0,-0.580513,-0.58
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654,-0.43
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684,-1.29
7,Argentina,2.0,8.0,48.8,39.76,0,1,0,0,0,0,-0.420793,-0.42
8,Armenia,5.0,5.0,30.2,8.40,0,0,0,0,0,0,-0.578211,-0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,"Venezuela, RB",4.5,-3.0,43.4,18.56,0,1,0,0,0,0,-1.061680,-1.06
207,Vietnam,6.0,-7.0,37.8,25.76,0,0,0,1,0,0,-0.656128,-0.66
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840,-0.81
211,Zambia,3.5,7.0,50.7,15.19,0,0,0,0,0,1,-0.601142,-0.60
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121,-1.38

**10.** Добавьте в `df` столбец `fh_status`, в котором будут храниться типы стран в зависимости от значения индекса Freedom House (значения free, partly free, not free). Соответствие значений `fh09` с типами стран см. [здесь](https://freedomhouse.org/sites/default/files/2020-02/Methodology_FIW_2016.pdf) (в конце, Table 3).

In [135]:
def indexing(fh):
    if 2.5 >= fh >= 1.0:
        return 'free'
    elif 5.0 >= fh >= 3.0:
        return 'partly free'
    elif 7.0 >= fh >= 5.5:
        return 'not free'

df.loc[:,'fh_status'] = df.loc[:, 'fh09'].apply(indexing)
df

C:\Users\medvi\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,ctry,fh09,polity09,gini,fparl08,mena,lati,cari,east,sovi,afri,corr0509,corr_round,fh_status
1,Albania,3.0,9.0,33.0,7.14,0,0,0,0,1,0,-0.580513,-0.58,partly free
2,Algeria,5.5,2.0,35.3,6.48,1,0,0,0,0,0,-0.434654,-0.43,not free
5,Angola,5.5,-2.0,58.6,37.27,0,0,0,0,0,0,-1.292684,-1.29,not free
7,Argentina,2.0,8.0,48.8,39.76,0,1,0,0,0,0,-0.420793,-0.42,free
8,Armenia,5.0,5.0,30.2,8.40,0,0,0,0,0,0,-0.578211,-0.58,partly free
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,"Venezuela, RB",4.5,-3.0,43.4,18.56,0,1,0,0,0,0,-1.061680,-1.06,partly free
207,Vietnam,6.0,-7.0,37.8,25.76,0,0,0,1,0,0,-0.656128,-0.66,not free
210,"Yemen, Rep.",5.5,-2.0,37.7,0.73,1,0,0,0,0,0,-0.808840,-0.81,not free
211,Zambia,3.5,7.0,50.7,15.19,0,0,0,0,0,1,-0.601142,-0.60,partly free
212,Zimbabwe,6.0,1.0,50.1,18.15,0,0,0,0,0,1,-1.382121,-1.38,not free